.tablero {
    text-align: center;
    background-color: black;
    font-size: 50px;
    color: blue;
    opacity: 0.5;
    transition: 500;
    display: none;
    
}

.col-md-4 {
    background-color: black;
}